<%- include ('../partials/header') %> 
<%- include ('../partials/navigation') %> 

<div class="container-fluid">
  <!-- Flash messages -->
  <% if(successMsg || errorMsg) {%>
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success">
        <%= successMsg %>
      </div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <% } %>
  
  <!-- Breadcrumbs -->
  <div class="row mt-2" >
    <div class="col-md-12 m-auto">
      <%if (breadcrumbs) { %>
      <nav aria-label="breadcrumb" class = "listing-directory">
        <ol class="breadcrumb listing-directory">
          <% breadcrumbs.forEach(crumb => { if(!crumb.name.startsWith("?")){%>
          <li class="breadcrumb-item listing-directory" aria-current="page">
            <a class = "listing-directory" href="<%=crumb.url%>"><%= crumb.name %></a>
          </li>
          <%}})%>
        </ol>
      </nav>
      <%} %>
    </div>
  </div>

  <!-- Page banner image -->
  <% if(pageName == 'All Listings') { %>
  <div class="text-center hero-container">
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%} else {%> <%categories.forEach( category => {%> <%if(pageName ==
  category.title){%>
  <div class="text-center hero-container">
    <div class="hero-text">
      <h1><%=pageName%></h1>
    </div>
  </div>
  <%}%> <%})%> <%}%>

  <hr class="gradient-style" />
  <!-- Contents -->
  <div class="row pl-4 pr-4">
    <% listings.forEach((listing) => { %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 product-index-box">
      <div class="single-product d-flex flex-column h-100">
        <a
          class="title-link"
          href="/listing/<%=listing.category.slug%>/<%=listing._id%>"
        >
          <img src="<%= listing.imagePath %>" alt="listing" class="img-fluid"
        /></a>
        <div class="product-info">
          <a
            class="title-link"
            href="/listing/<%=listing.category.slug%>/<%=listing._id%>"
          >
            <h6 class="mt-2 mb-2"><%= listing.title %></h6></a>
          <div class="price">$<%= listing.price %></div>
        </div>
        <% if(listing.available) {%>
        <a
          href="/add-to-cart/<%=listing._id%>"
          class="btn btn-block btn-secondary button-style mt-auto mb-2"
        >
          Add to Shopping Cart
        </a>
        <% } else { %>
        <a
          href="#"
          class="btn btn-block btn-danger button-style-danger mt-2 mb-2"
        >
          Currently Being Rented
        </a>
        <%} %>
      </div>
    </div>
    <% }) %>
    </div>

    <%- include ('../partials/pagination') %>
  </div>
  <%- include ('../partials/footer') %> 